<header>
	<nav class="navbar fixed-top">
        <div class="navigation__container container-fluid">
            <div class="navigation__content w-100">
              <div>
                <img class="navigation__logo" src="/images/logo-white.svg"/>
              </div>
              <div class="ml-auto navigation__social">
                <a href="#"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a>
                <a href="#"><i class="far fa-envelope fa-lg" aria-hidden="true"></i></a>
              </div>
            </div>
        </div>
	</nav>
</header>

<body>