<section class="hero bg-primary" id="hero">
    <div class="container-fluid">
        <div class="row">
            <div id="large-header" class="position-relative w-100 text-center">
                <canvas id="demo-canvas"></canvas>
                <div class="position-absolute hero__text">
                    <h1 class="mx-auto text-white">I love<br>beautiful code.</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__pointer">
        <i class="far fa-lg fa-hand-point-down"></i>
    </div>
</section>
