.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $dark-blue;
  z-index: 9999;

img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  animation: elastic-spin 3s infinite ease;
}
}
.loaded .loader {
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    overflow: auto;
}

@keyframes elastic-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}
